mixin day(cl,imgCl,src,h4,...items)
	.col-md-4
		.day(class=cl)
			img.day-img(class=imgCl src=path+"img/icons/"+src, alt=h4)
			.day-container
				h4.day-title=h4
				ul.day-list
					each item in items
						li=item

section#plan
	.container
		+gt('','Программа ретрита')
		.row
			+day('day-1','day-img-1','day-1.png','25 сентября', 'До 17:00 (мск) - заезд','18:00 -19.00 - ужин','19:30 - общий сбор','20:00 - 22:00 - Илья Исаков с мастер-классом «Как запомнить имя человека»')
			+day('day-2','day-img-2','day-2.png','26 сентября', '10:00 - 12:30 - Кристина Граник. Телесно-речевой тренинг «Диалог с собой»','14:00 - 19:00 -  Татьяна Рожкова. Тренинг «Тело никогда не врёт»')
			+day('day-3','day-img-3','day-3.png','27 сентября', '10:00 - 12:30 - Анна Скуцкая. Мастер- класс «Как с помощью продуктов питания можно влиять на события в жизни»','14:00 - 19:00 -  Анна Григорьевская «Матрица судьбы и предназначения человека»','20:00 - 22:00 - Илья Исаков. Интеллектуальная игра Admind')
		.row
			+day('day-4','day-img-4','day-1.png','28 сентября', '10:00 - 12:30 - Игорь Романец. Тренинг «Эмоциональный интеллект»','14:00 - 19:00 - программа Анны Ролевой и Вероники Юриной','20:00 - 22:00 - релакс-практика')
			+day('day-5','day-img-5','day-2.png','29 сентября', '10:00 - 12:30 - Жанна Абрамова «Групповое исцеление системно-родового поля»','14:00 - 19:00 - Лариса Вечернина «3 техники МАК»')
			+day('day-6','day-img-6','day-3.png','30 сентября', '10:00 - 12:30 - первая часть верёвочного курса. Тренера: Абрамова Жанна, Кудряшов Александр','14:00 - 19:00 - вторая часть верёвочного курса. Тренера: Абрамова Жанна, Кудряшов Александр','20:30 - костёр и обнимашки')
		p.cost Стоимость:
			span 40 000р.
		+b('','https://shop.mastervision.su/?r=ordering/cart/as1&id=5254&clean=true&lg=ru','Еду на ретрит','_blank')
		.about-wrapper
			.about
				.row
					.col-md-5
						.about-img
							img(src=path+"img/images/alex.png", alt="Александр Кудряшов")
							.about-info
								p Генеральный директор Mastervision Кудряшов Александр
					.col-md-7
						h4.about-title Мастерская Академии Master Vision – это:
						ul.about-list
							li - Самое масштабное мероприятие, посвящённое личностному росту и самосовершенствованию;
							li - 5 дней в среде глобальной трансформации и мощной проработки;
							li - Возможность увидеть воочию и пообщаться с 10 лучшими тренерами Академии Master Vision;
							li - Просто отдых в приятном месте, вдали от шума и городской суеты