section#coaches
	.container
		img(src=path+"img/images/target.png", alt="Мишень").coaches-img.coaches-img-1
		img(src=path+"img/icons/coaches.png", alt="Шары").coaches-img.coaches-img-2
		+gt('','О тренерах')
		.coaches
			.coach-links-wrapper
				ul.nav.nav-tabs.coach-links(role="tablist")
					li(role="presentation" class="active")
						a(href="#coach-1" aria-controls="#coach-1" role="tab" data-toggle="tab") Жанна Абрамова
					li(role="presentation")
						a(href="#coach-2" aria-controls="#coach-2" role="tab" data-toggle="tab") Илья Исаков
					li(role="presentation")
						a(href="#coach-3" aria-controls="#coach-3" role="tab" data-toggle="tab") Кристина Граник
					li(role="presentation")
						a(href="#coach-4" aria-controls="#coach-4" role="tab" data-toggle="tab") Анна Скуцкая
					li(role="presentation")
						a(href="#coach-5" aria-controls="#coach-5" role="tab" data-toggle="tab") Игорь Романец
					li(role="presentation")
						a(href="#coach-6" aria-controls="#coach-6" role="tab" data-toggle="tab") Татьяна Рожкова
					li(role="presentation")
						a(href="#coach-7" aria-controls="#coach-7" role="tab" data-toggle="tab") Анна Ролева
					li(role="presentation")
						a(href="#coach-8" aria-controls="#coach-8" role="tab" data-toggle="tab") Вероника Юрина
					li(role="presentation")
						a(href="#coach-9" aria-controls="#coach-9" role="tab" data-toggle="tab") Анна Григорьевская
					li(role="presentation")
						a(href="#coach-10" aria-controls="#coach-10" role="tab" data-toggle="tab") Лариса Вечернина
			.tab-content
				.tab-pane.tab-pane.fade.in.active(role="tabpanel")#coach-1
					.coach
						.coach-img
							img(src=path+"img/images/janna.png", alt="Жанна Абрамова")
						.coach-info
							h4.coach-info-title Жанна Абрамова
							ul.coach-info-list
								li - Клинический психолог, гештальт-терапевт, гипнотерапевт
								li - Коуч, тренер обучающих и трансформационных программ
								li - Мастер метафорических карт (МАК), системно-родовой терапии, технологии мгновенного исцеления, регрессивного гипноза
								li - Мастер практической психологии и технологий осознанности
								li - Мастер НЛП и ДСТ. Педагог Международного института интеграционного развития
								li - Процессор техник РПТ, тетахилинга, субклеточной психобиологии, терапевт психохирургии и новой германской медицины
								li - Автор курсов по новой системной психологии, МАК, системной терапии, психохирургии, коучинга, НЛП, акмеологии, курсов по женской соматике и психологии
				.tab-pane.tab-pane.fade(role="tabpanel")#coach-2
					.coach
						.coach-img
							img(src=path+"img/images/isakov.png", alt="Илья Исаков")
						.coach-info
							h4.coach-info-title Илья Исаков
							ul.coach-info-list
								li - Санкт-Петербургский университет Петра Великого (бакалавриат)
								li - Московская академия профессиональных компетенций (специальность «Учитель»)
								li - Выпускник Академии смысла Андрея Курпатова
								li - Закончил ATC Language School в Дублине – владение английским на уровне C1
								li - Выучил итальянский до уровня А2 за 60 часов (запоминал 1000 итальянских слов в день)
								li - Опыт работы преподавателем – 5 лет. Провёл более 100 курсов
								li - У него учились более 3000 учеников из разных городов и стран, среди которых – студенты ВУЗов, школьники, бизнесмены, политики, актёры и т.д.
								li - Тренер интеллектуальной сборной. Подопечные занимали призовые места на чемпионатах по памяти
								li - Серебряный призёр открытого кубка России по памяти в 2018 году
				.tab-pane.tab-pane.fade(role="tabpanel")#coach-3
					.coach
						.coach-img
							img(src=path+"img/images/granik.png", alt="Кристина Граник")
						.coach-info
							h4.coach-info-title Кристина Граник
							ul.coach-info-list
								li - Теле- и радиоведущая (Russian MusicBox, ТВЦ, Русское Радио, Радио Дача, Love Radio, Mediametrics, Радио-1)
								li - Актриса пластической труппы «Аппарат.Театр»
								li - Институт медицинской психологии (курсы «Афазия», «Нейропсихология», «Заикание»)
								li - СПБГУ (курс «Психолингвистика»)
								li - Логопедический центр «Логопед Плюс» (курс «Заикание», курс «Нейропсихология творчества»)
								li - Литературная школа Creative Writing School (курс Марины Степновой)
								li - Gogol School (актёрская и пластическая лаборатории Родиона Барышева и Павла Ващилина)
								li - Студия «Говори Свободно» (курс автора книг-бестселлеров о голосе Ларисы Соловьёвой)
								li - Индивидуальные занятия сценической речью
								li - Курс Ильи Прудовского (диктор Всесоюзного Радио, голос аудиокниг)
								li - Курс Елены Шкурпело (актриса театра, педагог по сценречи)
				.tab-pane.tab-pane.fade(role="tabpanel")#coach-4
					.coach
						.coach-img
							img(src=path+"img/images/skutskaya.png", alt="Анна Скуцкая")
						.coach-info
							h4.coach-info-title Анна Скуцкая
							ul.coach-info-list
								li - Практикующий рунолог со стажем 14 лет и преподаватель рунических знаний
								li - За 2 года ведения курсов по рунам обучила и выпустила более 1000 студентов
								li - Потомственная травница и мастер по работе с травами с 10-летним опытом
								li - Увлекается астрологией, мантикой и постоянно находится в поиске новых инструментов, которые помогут достичь желаемого в короткие сроки
								li - Консультант бизнесменов и стартапов
				.tab-pane.tab-pane.fade(role="tabpanel")#coach-5
					.coach
						.coach-img
							img(src=path+"img/images/romanets.png", alt="Игорь Романец")
						.coach-info
							h4.coach-info-title Игорь Романец
							ul.coach-info-list
								li - Состоит в Общероссийской Профессиональной Психотерапевтической Лиге
								li - Автор программ по телесному ориентированию и тренингов личностного роста
								li - Создаёт и ведёт тренинги с 1995 года, проводит индивидуальные консультации, готовит тренеров с 2001 года
								li - Проводит программы повышения квалификации
								li - С 1995 года – тренер тренингов личностного роста (65-70 различных программ в год с охватом примерно 800-1000 человек)
								li - С 1997 года работает с детьми, подростками, родителями
								li - С 2010 года занимается коучингом
				.tab-pane.tab-pane.fade(role="tabpanel")#coach-6
					.coach
						.coach-img
							img(src=path+"img/images/rojkova.png", alt="Татьян Рожкова")
						.coach-info
							h4.coach-info-title Татьян Рожкова
							ul.coach-info-list
								li - Практический  психолог, коуч, тренер обучающих программ
								li - Процессор техник РПТ, субклеточной психобиологии
								li - Терапевт метафизики – технологии мгновенного исцеления (школа Г. Макфетридж), психосоматики и новой германской медицины
								li - МАК-терапевт
								li - Специалист по системным расстановкам (Академия Master Vision)
								li - Специалист по регрессивному гипнозу
				.tab-pane.tab-pane.fade(role="tabpanel")#coach-7
					.coach
						.coach-img
							img(src=path+"img/images/roleva.png", alt="Анна Ролева")
						.coach-info
							h4.coach-info-title Анна Ролева
							ul.coach-info-list
								li Автор и ведущая тренигов по предназначению
								li Сертифицированный регрессолог (погружение в прошлые жизни)
								li Проводит индивидуальные консультации и обучение по Механике Человека
								li OBS (Open Business School) факультеты маркетинга и менеджмента
								li СПбГАТИ продюссерский факультет
								li Рейки 1я ступень
								li Bircham International University специальность трансперсональная психологияпсихология
				.tab-pane.tab-pane.fade(role="tabpanel")#coach-8
					.coach
						.coach-img
							img(src=path+"img/images/yurina.png", alt="Вероника Юрина")
						.coach-info
							h4.coach-info-title Вероника Юрина
							ul.coach-info-list
								li - Профессиональный тренер и преподаватель
								li - Дипломированный психолог
								li - Опыт работы с людьми и консультирования - 10 лет
								li - Обучала такие компании, как ТрансНефтьЭнерго, Rambler, HH, Krutoy Media, Hearst Shkulev Media, ПГК, Бин-Банк, Mail Group и многие другие
				.tab-pane.tab-pane.fade(role="tabpanel")#coach-9
					.coach
						.coach-img
							img(src=path+"img/images/grigoryevskaya.png", alt="Анна Григорьевская")
						.coach-info
							h4.coach-info-title Анна Григорьевская
							ul.coach-info-list
								li - Магистр психологии
								li - Нумеролог
								li - МАК-терапевт
								li - Мастер системно-родовой терапии
								li - Более 10 лет опыта работы со взрослыми и детьми
								li - Эксперт телеканалов НТВ, РенТВ, МИР, Россия 24, Москва 24
				.tab-pane.tab-pane.fade(role="tabpanel")#coach-10
					.coach
						.coach-img
							img(src=path+"img/images/vechernina.png", alt="Лариса Вечернина")
						.coach-info
							h4.coach-info-title Лариса Вечернина
							ul.coach-info-list
								li - Практикующий психолог-психоаналитик
								li - Член Европейской Конфедерации Психоаналитической Психотерапии
								li - МАК-тренер, консультант
								li - Использует в работе методы когнитивно-поведенческой, экзистенциальной и эмоционально-образной терапии